# Root env references

# Mobile
EXPO_PUBLIC_API_BASE_URL="http://localhost:3000"

# API
DATABASE_URL="postgresql://user:password@ep-example.us-east-2.aws.neon.tech/mygym?sslmode=require"
JWT_SECRET="replace-with-64-char-secret"
JWT_EXPIRES_IN="7d"
RATE_LIMIT_WINDOW_MS="60000"
RATE_LIMIT_MAX_REQUESTS="120"
